version: '3.7'
services:
  # RPC daemon
  bitcoin:
    image: ghcr.io/vulpemventures/bitcoin:latest
    user: 1000:1000
    container_name: bitcoin
    command:
      - -datadir=config
    ports:
      - 18443:18443
      - 18444:18444
      # ZMQ
      - 28332:28332
      - 28333:28333
    volumes:
      - ./volumes/bitcoin/:/config
    restart: unless-stopped
  
  liquid:
    image: ghcr.io/vulpemventures/elements:latest
    user: 1000:1000
    container_name: liquid
    command:
      - -datadir=config
    ports:
      - 18884:18884
      - 18886:18886
      # ZMQ
      - 38332:38332
      - 38333:38333
    volumes:
      - ./volumes/elements/:/config
    restart: unless-stopped

  # Block explorer server
  electrs:
    image: ghcr.io/vulpemventures/electrs:latest
    container_name: electrs
    entrypoint:
      - /build/electrs
    command:
      - -vvvv
      - --network
      - regtest
      - --daemon-dir
      - /config
      - --daemon-rpc-addr
      - bitcoin:18443
      - --cookie
      - admin1:123
      - --http-addr
      - 0.0.0.0:30000
      - --electrum-rpc-addr
      - 0.0.0.0:50000
      - --cors
      - "*"
      - --jsonrpc-import
    depends_on:
      - bitcoin
    ports:
      - 50000:50000
      - 30000:30000
    volumes:
      - ./volumes/bitcoin/:/config
    restart: unless-stopped

  electrs-liquid:
    image: ghcr.io/vulpemventures/electrs-liquid:latest
    container_name: electrs-liquid
    entrypoint:
      - /build/electrs
    command:
      - -vvvv
      - --parent-network
      - regtest
      - --network
      - liquidregtest
      - --daemon-dir
      - /config
      - --daemon-rpc-addr
      - liquid:18884
      - --cookie
      - admin1:123
      - --http-addr
      - 0.0.0.0:30001
      - --electrum-rpc-addr
      - 0.0.0.0:50001
      - --cors
      - "*"
      - --jsonrpc-import
    depends_on:
      - liquid
    ports:
      - 50001:50001
      - 30001:30001
    volumes:
      - ./volumes/elements/:/config
    restart: unless-stopped

  # Block explorer frontend
  esplora:
    image: ghcr.io/vulpemventures/esplora:latest
    container_name: esplora
    depends_on:
      - chopsticks
    environment: 
        API_URL: http://localhost:3000
    ports:
      - 5000:5000
    restart: unless-stopped

  esplora-liquid:
    image: ghcr.io/vulpemventures/esplora:latest
    container_name: esplora-liquid
    depends_on:
      - chopsticks-liquid
    environment:
      API_URL: http://localhost:3001
    ports:
      - 5001:5000
    restart: unless-stopped
  # Chopsticks
  chopsticks:
    image: ghcr.io/vulpemventures/nigiri-chopsticks:latest
    container_name: chopsticks
    command:
      - --use-faucet
      - --use-mining
      - --use-logger
      - --rpc-addr
      - bitcoin:18443
      - --electrs-addr
      - electrs:30000
      - --addr
      - 0.0.0.0:3000
    depends_on:
      - bitcoin
      - electrs
    ports:
      - 3000:3000
    restart: unless-stopped

  chopsticks-liquid:
    image: ghcr.io/vulpemventures/nigiri-chopsticks:latest
    container_name: chopsticks-liquid
    command:
      - --use-faucet
      - --use-mining
      - --use-logger
      - --rpc-addr
      - liquid:18884
      - --electrs-addr
      - electrs-liquid:30001
      - --addr
      - 0.0.0.0:3000
      - --chain
      - liquid
    depends_on:
      - liquid
      - electrs-liquid
    ports:
      - 3001:3000
    restart: unless-stopped

networks:
  default:
    name: nigiri
