name: nigiri
services:
  # RPC daemon
  bitcoin:
    image: ghcr.io/getumbrel/docker-bitcoind:v29.0
    container_name: bitcoin
    user: "${UID:-1000}:${GID:-1000}"
    restart: on-failure
    stop_grace_period: 30s
    ports:
      - 18443:18443
      - 18444:18444
      # ZMQ
      - 28332:28332
      - 28333:28333
    volumes:
      - ./volumes/bitcoin:/data/.bitcoin

  liquid:
    image: ghcr.io/vulpemventures/elements:latest
    container_name: liquid
    user: "${UID:-1000}:${GID:-1000}"
    command:
      - -datadir=config
    ports:
      - 18884:18884
      - 18886:18886
      # ZMQ
      - 38332:38332
      - 38333:38333
    volumes:
      - ./volumes/elements/:/config
    restart: unless-stopped

  # Block explorer server
  electrs:
    image: ghcr.io/vulpemventures/electrs:latest
    container_name: electrs
    entrypoint:
      - /build/electrs
    command:
      - -vvvv
      - --network
      - regtest
      - --daemon-dir
      - /config
      - --daemon-rpc-addr
      - bitcoin:18443
      - --cookie
      - admin1:123
      - --http-addr
      - 0.0.0.0:30000
      - --electrum-rpc-addr
      - 0.0.0.0:50000
      - --cors
      - "*"
      - --jsonrpc-import
    depends_on:
      - bitcoin
    ports:
      - 50000:50000
      - 30000:30000
    volumes:
      - ./volumes/bitcoin/:/config
    restart: unless-stopped

  electrs-liquid:
    image: ghcr.io/vulpemventures/electrs-liquid:latest
    container_name: electrs-liquid
    entrypoint:
      - /build/electrs
    command:
      - -vvvv
      - --parent-network
      - regtest
      - --network
      - liquidregtest
      - --daemon-dir
      - /config
      - --daemon-rpc-addr
      - liquid:18884
      - --cookie
      - admin1:123
      - --http-addr
      - 0.0.0.0:30001
      - --electrum-rpc-addr
      - 0.0.0.0:50001
      - --cors
      - "*"
      - --jsonrpc-import
    depends_on:
      - liquid
    ports:
      - 50001:50001
      - 30001:30001
    volumes:
      - ./volumes/elements/:/config
    restart: unless-stopped

  # Block explorer frontend
  esplora:
    image: ghcr.io/vulpemventures/esplora:latest
    container_name: esplora
    depends_on:
      - chopsticks
    environment:
      API_URL: http://localhost:3000
    ports:
      - 5000:5000
    restart: unless-stopped

  esplora-liquid:
    image: ghcr.io/vulpemventures/esplora:latest
    container_name: esplora-liquid
    depends_on:
      - chopsticks-liquid
    environment:
      API_URL: http://localhost:3001
    ports:
      - 5001:5000
    restart: unless-stopped

  # Chopsticks
  chopsticks:
    image: ghcr.io/vulpemventures/nigiri-chopsticks:latest
    container_name: chopsticks
    command:
      - --use-faucet
      - --use-mining
      - --use-logger
      - --rpc-addr
      - bitcoin:18443
      - --electrs-addr
      - electrs:30000
      - --addr
      - 0.0.0.0:3000
    depends_on:
      - bitcoin
      - electrs
    ports:
      - 3000:3000
    restart: unless-stopped

  chopsticks-liquid:
    image: ghcr.io/vulpemventures/nigiri-chopsticks:latest
    container_name: chopsticks-liquid
    command:
      - --use-faucet
      - --use-mining
      - --use-logger
      - --rpc-addr
      - liquid:18884
      - --electrs-addr
      - electrs-liquid:30001
      - --addr
      - 0.0.0.0:3000
      - --chain
      - liquid
    depends_on:
      - liquid
      - electrs-liquid
    ports:
      - 3001:3000
    restart: unless-stopped

  lnd:
    container_name: lnd
    image: lightninglabs/lnd:latest
    user: "${UID:-1000}:${GID:-1000}"
    depends_on:
      - bitcoin
    volumes:
      - ./volumes/lnd:/data/.lnd
    environment:
      HOME: /data
    restart: unless-stopped
    stop_grace_period: 5m30s
    ports:
      - "9735:9735" # p2p
      - "10009:10009" # grpc"
      - "18080:18080" # rest"

  tap:
    container_name: tap
    image: lightninglabs/taproot-assets:latest
    user: "${UID:-1000}:${GID:-1000}"
    depends_on:
      - bitcoin
      - lnd
    volumes:
      - ./volumes/tapd:/data/.tapd
      - ./volumes/lnd:/data/.lnd
    environment:
      HOME: /data
    command:
      - --network=regtest
      - --debuglevel=debug
      - --lnd.host=lnd:10009
      - --lnd.macaroonpath=/data/.lnd/data/chain/bitcoin/regtest/admin.macaroon
      - --lnd.tlspath=/data/.lnd/tls.cert
    restart: unless-stopped
    stop_grace_period: 5m30s
    ports:
      - "10029:10029" # grpc
      - "8089:8089" # rest"

  cln:
    container_name: cln
    image: elementsproject/lightningd:latest
    user: "${UID:-1000}:${GID:-1000}"
    environment:
      EXPOSE_TCP: "true"
      LIGHTNINGD_NETWORK: regtest
      LIGHTNINGD_DATA: .lightning
    command:
      - --lightning-dir=.lightning
      - --alias=nigiri
      - --bind-addr=0.0.0.0:9935
      - --bitcoin-rpcconnect=bitcoin:18443
      - --bitcoin-rpcpassword=123
      - --bitcoin-rpcuser=admin1
      - --log-level=debug
      - --network=regtest
      - --grpc-host=0.0.0.0
      - --grpc-port=9936
    depends_on:
      - bitcoin
    ports:
      - "9835:9835" # rpc
      - "9935:9935" # p2p
      - "9936:9936" # grpc
    restart: unless-stopped
    volumes:
      - ./volumes/lightningd:/.lightning
      - ./volumes/bitcoin:/etc/bitcoin

  postgres:
    restart: unless-stopped
    image: postgres:16
    ports:
      - 39372:5432
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
      - POSTGRES_DB=arkd
    volumes:
      - ./volumes/postgres:/var/lib/postgresql/data

  nbxplorer:
    restart: unless-stopped
    expose:
      - "32838"
    depends_on:
      - postgres
      - bitcoin
    image: nicolasdorier/nbxplorer:2.5.30-1
    environment:
      NBXPLORER_NETWORK: regtest
      NBXPLORER_CHAINS: "btc"
      NBXPLORER_BTCRPCURL: http://bitcoin:18443/
      NBXPLORER_BTCNODEENDPOINT: bitcoin:18444
      NBXPLORER_BTCRPCUSER: admin1
      NBXPLORER_BTCRPCPASSWORD: 123
      NBXPLORER_VERBOSE: 1
      NBXPLORER_BIND: 0.0.0.0:32838
      NBXPLORER_TRIMEVENTS: 10000
      NBXPLORER_SIGNALFILESDIR: /datadir
      NBXPLORER_POSTGRES: User ID=postgres;Host=postgres;Port=5432;Application Name=nbxplorer;MaxPoolSize=20;Database=nbxplorer
      NBXPLORER_EXPOSERPC: 1
      NBXPLORER_NOAUTH: 1
    volumes:
      - ./volumes/nbxplorer:/datadir
    ports:
      - "32838:32838"

  ark-wallet:
    container_name: ark-wallet
    image: ghcr.io/arkade-os/arkd-wallet:v0.8.5
    restart: unless-stopped
    depends_on:
      - bitcoin
      - nbxplorer
    environment:
      ARKD_WALLET_LOG_LEVEL: "5"
      ARKD_WALLET_NBXPLORER_URL: "http://nbxplorer:32838"
      ARKD_WALLET_NETWORK: "regtest"      
      ARKD_WALLET_SIGNER_KEY: "19422b10efd05403820ff6a3365422be2fc5f07f34a6d1603f7298328f0f80f6"
    volumes:
      - ./volumes/ark/wallet:/app/data
    ports:
      - "6060:6060"

  ark:
    container_name: ark
    image: ghcr.io/arkade-os/arkd:v0.8.5
    restart: unless-stopped
    depends_on:
      - bitcoin
      - ark-wallet
      - postgres
    environment:
      ARKD_LOG_LEVEL: "5"
      ARKD_NO_TLS: "true"
      ARKD_NO_MACAROONS: "true"
      ARKD_WALLET_ADDR: "ark-wallet:6060"
      ARKD_ESPLORA_URL: "http://chopsticks:3000"
      ARKD_VTXO_MIN_AMOUNT: "1"
      ARKD_VTXO_TREE_EXPIRY: "1024"
      ARKD_UNILATERAL_EXIT_DELAY: "512"
      ARKD_BOARDING_EXIT_DELAY: "2048"
      ARKD_DB_TYPE: "sqlite"
      ARKD_EVENT_DB_TYPE: "badger"
      ARKD_LIVE_STORE_TYPE: "inmemory"
      ARKD_UNLOCKER_TYPE: "env"
      ARKD_UNLOCKER_PASSWORD: "secret"
    volumes:
      - ./volumes/ark/data:/app/data
    ports:
      - "7070:7070"

networks:
  default:
    name: nigiri
