version: '3'
services:
  # RPC daemon
  bitcoin:
    image: vulpemventures/bitcoin:latest
    networks:
      local:
        ipv4_address: 10.10.0.10
    ports:
      - ${BITCOIN_NODE_PORT}:19001
    volumes:
      - ./volumes/regtest/config/:/config
    restart: unless-stopped
  # Block explorer server
  electrs:
    image: vulpemventures/electrs:latest
    entrypoint:
      - /build/electrs
    command:
      - -vvvv
      - --network
      - regtest
      - --daemon-dir
      - /config
      - --daemon-rpc-addr
      - 10.10.0.10:19001
      - --cookie
      - admin1:123
      - --http-addr
      - 0.0.0.0:3002
      - --electrum-rpc-addr
      - 0.0.0.0:60401
      - --cors
      - "*"
    networks:
      local:
        ipv4_address: 10.10.0.11
    links:
      - bitcoin
    depends_on:
      - bitcoin
    ports:
      - ${BITCOIN_ELECTRS_RPC_PORT}:60401
      - ${BITCOIN_ELECTRS_PORT}:3002
    volumes:
      - ./volumes/regtest/config/:/config
    restart: unless-stopped
  # Block explorer frontend
  esplora:
    image: vulpemventures/esplora:latest
    networks:
      local:
        ipv4_address: 10.10.0.12
    links:
      - chopsticks
    depends_on:
      - chopsticks
    environment:
      API_URL: ${BITCOIN_ESPLORA_URL}
    ports:
      - ${BITCOIN_ESPLORA_PORT}:5000
    restart: unless-stopped
  # Chopsticks
  chopsticks:
    image: vulpemventures/nigiri-chopsticks:latest
    entrypoint:
      - /build/chopsticks
    command:
      - --use-faucet
      - --use-mining
      - --use-logger
      - --rpc-addr
      - 10.10.0.10:19001
      - --electrs-addr
      - 10.10.0.11:3002
      - --addr
      - 0.0.0.0:3000
    networks:
      local:
        ipv4_address: 10.10.0.13
    links:
      - bitcoin
      - electrs
    depends_on:
      - electrs
    ports:
      - ${BITCOIN_CHOPSTICKS_PORT}:3000
    restart: unless-stopped

networks:
  local:
    driver: bridge
    ipam:
      config:
        - subnet: 10.10.0.0/24