version: '3'
services:
  # RPC daemons
  bitcoin:
    image: vulpemventures/bitcoin:latest
    networks:
      local:
        ipv4_address: 10.10.0.10
    ports:
      - ${BITCOIN_NODE_PORT}:19001
    volumes:
      - ./volumes/liquidregtest/config/:/config
  liquid:
    image: vulpemventures/liquid:latest
    networks:
      local:
        ipv4_address: 10.10.0.11
    ports:
      - ${LIQUID_NODE_PORT}:18884
    volumes:
      - ./volumes/liquidregtest/liquid-config/:/config
  # Block explorer REST servers
  electrs:
    image: vulpemventures/electrs:latest
    entrypoint:
      - /build/electrs
    command:
      - -vvvv
      - --network
      - regtest
      - --daemon-dir
      - /config
      - --daemon-rpc-addr
      - 10.10.0.10:19001
      - --cookie
      - admin1:123
      - --http-addr
      - 0.0.0.0:3002
      - --electrum-rpc-addr
      - 0.0.0.0:60401
      - --cors
      - "*"
    networks:
      local:
        ipv4_address: 10.10.0.12
    links:
      - bitcoin
    depends_on:
      - bitcoin
    ports:
      - ${BITCOIN_ELECTRS_RPC_PORT}:60401
      - 3002:3002
    volumes:
      - ./volumes/liquidregtest/config/:/config
  electrs-liquid:
    image: vulpemventures/electrs-liquid:latest
    entrypoint:
      - /build/electrs
    command:
      - -vvvv
      - --network
      - liquidregtest
      - --daemon-dir
      - /config
      - --daemon-rpc-addr
      - 10.10.0.11:18884
      - --cookie
      - admin1:123
      - --http-addr
      - 0.0.0.0:3002
      - --electrum-rpc-addr
      - 0.0.0.0:60401
      - --cors
      - "*"
    networks:
      local:
        ipv4_address: 10.10.0.13
    links:
      - liquid
    depends_on:
      - liquid
    ports:
      - ${LIQUID_ELECTRS_RPC_PORT}:60401
      - 3022:3002
    volumes:
      - ./volumes/liquidregtest/liquid-config/:/config
  # Block explorer frontends
  esplora:
    image: vulpemventures/esplora:latest
    networks:
      local:
        ipv4_address: 10.10.0.14
    links:
      - electrs
    depends_on:
      - electrs
    ports:
      - ${BITCOIN_ESPLORA_PORT}:5000
  esplora-liquid:
    image: vulpemventures/esplora-liquid:latest
    networks:
      local:
        ipv4_address: 10.10.0.15
    links:
      - electrs-liquid
    depends_on:
      - electrs-liquid
    ports:
      - ${LIQUID_ESPLORA_PORT}:5000
  # Chopsticks
  chopsticks:
    image: vulpemventures/nigiri-chopsticks
    entrypoint:
      - /build/chopsticks
    command:
      - --use-faucet
      - --use-mining
      - --use-logger
      - --rpc-addr
      - 10.10.0.10:19001
      - --electrs-addr
      - 10.10.0.12:3002
      - --addr
      - 0.0.0.0:3000
    links:
      - electrs
      - bitcoin
    depends_on:
      - electrs
    ports:
      - ${BITCOIN_CHOPSTICKS_PORT}:3000
    networks:
      local:
        ipv4_address: 10.10.0.16
  chopsticks-liquid:
    image: vulpemventures/nigiri-chopsticks
    entrypoint:
      - /build/chopsticks
    command:
      # - --use-faucet
      - --use-mining
      - --use-logger
      - --rpc-addr
      - 10.10.0.11:18884
      - --electrs-addr
      - 10.10.0.13:3002
      - --addr
      - 0.0.0.0:3000
      - --chain
      - liquid
    links:
      - electrs-liquid
      - liquid
    depends_on:
      - electrs-liquid
    ports:
      - ${LIQUID_CHOPSTICKS_PORT}:3000
    networks:
      local:
        ipv4_address: 10.10.0.17

networks:
  local:
    driver: bridge
    ipam:
      config:
        - subnet: 10.10.0.0/24