version: '3'
services:
  # RPC daemon
  bitcoin:
    image: vulpemventures/bitcoin:latest
    container_name: bitcoin
    ports:
      - ${BITCOIN_PEER_PORT}:19000
      - ${BITCOIN_NODE_PORT}:19001
    volumes:
      - ./volumes/regtest/config/:/config
    restart: unless-stopped
  # Block explorer server
  electrs:
    image: vulpemventures/electrs:latest
    container_name: electrs
    entrypoint:
      - /build/electrs
    command:
      - -vvvv
      - --network
      - regtest
      - --daemon-dir
      - /config
      - --daemon-rpc-addr
      - bitcoin:19001
      - --cookie
      - admin1:123
      - --http-addr
      - 0.0.0.0:3002
      - --electrum-rpc-addr
      - 0.0.0.0:60401
      - --cors
      - "*"
    depends_on:
      - bitcoin
    ports:
      - ${BITCOIN_ELECTRS_RPC_PORT}:60401
      - ${BITCOIN_ELECTRS_PORT}:3002
    volumes:
      - ./volumes/regtest/config/:/config
    restart: unless-stopped
  # Block explorer frontend
  esplora:
    image: vulpemventures/esplora:latest
    container_name: esplora
    depends_on:
      - chopsticks
    environment:
      API_URL: ${BITCOIN_ESPLORA_URL}
    ports:
      - ${BITCOIN_ESPLORA_PORT}:5000
    restart: unless-stopped
  # Chopsticks
  chopsticks:
    image: vulpemventures/nigiri-chopsticks:latest
    container_name: chopsticks
    command:
      - --use-faucet
      - --use-mining
      - --use-logger
      - --rpc-addr
      - bitcoin:19001
      - --electrs-addr
      - electrs:3002
      - --addr
      - 0.0.0.0:3000
    depends_on:
      - bitcoin
      - electrs
    ports:
      - ${BITCOIN_CHOPSTICKS_PORT}:3000
    restart: unless-stopped
